.swiper-pagination {
  position: relative;
  top: 10px !important;
  bottom: 0px !important;
}

.swiper-pagination-bullet-active{
  background-color: black;
}

.swiper-pagination-bullet{
  background-color: gray;
}